base: /work1/chialang1220/reference/kpc/


bacteria_CDS: MainDBs/Bacteria/all.cds
bacteria_DNA: MainDBs/Bacteria/all.dna
nt_bacteria_1: NCBI_NonHuman/NCBI/nt_bacteria_main_part01
nt_bacteria_2: NCBI_NonHuman/NCBI/nt_bacteria_main_part02
nt_bacteria_rtRNA: NCBI_NonHuman/NCBI/nt_bacteria_rtRNA
microbiome_CDS_blood: MainDBs/HMP/Blood.cds
microbiome_CDS_heart: MainDBs/HMP/Heart.cds
microbiome_CDS_lymph: MainDBs/HMP/Lymph_Node.cds
microbiome_CDS_gastrointestinal: MainDBs/HMP/Gastrointestinal_tract.cds
microbiome_CDS_urogenital: MainDBs/HMP/Urogenital_tract.cds
microbiome_CDS_oral: MainDBs/HMP/Oral.cds
microbiome_CDS_airways: MainDBs/HMP/Airways.cds
microbiome_CDS_skin: MainDBs/HMP/Skin.cds
microbiome_DNA_blood: MainDBs/HMP/Blood.nuc
microbiome_DNA_heart: MainDBs/HMP/Heart.nuc
microbiome_DNA_lymph: MainDBs/HMP/Lymph_Node.nuc
microbiome_DNA_gastrointestinal: MainDBs/HMP/Gastrointestinal_tract.nuc
microbiome_DNA_urogential: MainDBs/HMP/Urogenital_tract.nuc
microbiome_DNA_oral: MainDBs/HMP/Oral.nuc
microbiome_DNA_airways: MainDBs/HMP/Airways.nuc
microbiome_DNA_skin: MainDBs/HMP/Skin.nuc