{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="page-header" id="page-hader">
        <h3>Bacterial composition</h3>
        <p>This module enables users to retrieve the bacterial compositions of each sample.</p>
        {% include 'analyses/composition/query.html' %}
    </div>
    
    <div class="page-result" id="page-result">
        {% include 'analyses/composition/content.html' %}
    </div>
    
    
{% endblock %}