{% load static %}

<h4>The distribution of the bacterial abundance in each tumor type.</h4>
<div class="callout callout-danger" id="div_analyses_abundance_plot">
</div>

<h4>Table of the relative abundance of bacteria detected in cancer.</h4>
<div class="callout callout-info" id="div_analyses_abundance_table">
    <table class="table table-condensed table-hover table-bordered" id="analyses_abundance_table" width="100%">
        <thead>
            <tr>
                <th>Cancer type</th>
                <th>Taxonomy level</th>
                <th>Bacteria</th>
                <th>Mean relative abundance</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    
</div>

