{% load static %}

<h4>Plots of the clinical relevance.</h4>
<div class="callout callout-danger flex-container" id="div_analyses_clinical_relevance_plot">
    <p id="analyses_clinical_relevance_plot_bacteria_all_zero_expression"></p>
    <div id="div_analyses_clinical_relevance_plot_row_1">
        <div id="div_analyses_clinical_relevance_plot_survival"></div>
        <div id="div_analyses_clinical_relevance_plot_TPvsTN"></div>
    </div>
    <div id="div_analyses_clinical_relevance_plot_row_2">
        <div id="div_analyses_clinical_relevance_plot_stage"></div>
        <div id="div_analyses_clinical_relevance_plot_race"></div>
    </div>
</div>

<h4>Table of the clinical relevance.</h4>
<div class="callout callout-info" id="div_analyses_clinical_relevance_table">
    <table class="table table-condensed table-hover table-bordered" id="analyses_clinical_relevance_table" width="100%">
        <thead>
            <tr>
                <th>Cancer type</th>
                <th>Taxonomy level</th>
                <th>Bacteria</th>
                <th>Overall survival log rank p value</th>
                <th>TP vs TN wilcox rank sum test p value</th>
                <th>Stage Krus-Wall p value</th>
                <th>Race Krus-Wall p value</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    
</div>

