{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
<h2>
    About us
</h2>

<div class="container">
    <div class="div_contact_row">
        <div class="div_contact">
            <h4>Hsueh-Fen Juan, Ph.D.</h4>
            <h6><a href="http://www.lifescience.ntu.edu.tw/index_en.html" target="_blank">Department of Life Science</a>
                and <a href="https://www.bebi.ntu.edu.tw/?page_id=79&lang=en" target="_blank">Graduate Institute of Biomedical Electronics and Bioinformatics</a></h6>
            <h6><a href="https://www.ntu.edu.tw/english/index.html" target="_blank">National Taiwan University</a>, No. 1, Sec. 4, Roosevelt Rd., Taipei 106, Taiwan</h6>
            <h6><a href="mailto:yukijuan@ntu.edu.tw">yukijuan@ntu.edu.tw</a></h6>
            <h6><a href="http://jhlab.tw/" target="_blank">Juan’s Systems Biology Laboratory</a></h6>
        </div>
        
        <div class="div_contact">
            <h4>Hsuan-Cheng Huang, Ph.D.</h4>
            <h6><a href="https://bmi.nycu.edu.tw/en/" target="_blank">Institute of Biomedical Informatics</a></h6>
            <h6><a href="https://en.nycu.edu.tw/" target="_blank">National Yang Ming Chiao Tung University</a>, No. 155, Sec. 2, Linong St., Beitou Dist., Taipei City 112, Taiwan</h6>
            <h6><a href="mailto:hsuancheng@nycu.edu.tw">hsuancheng@nycu.edu.tw</a></h6>
            <h6><a href="http://hchuang.info/" target="_blank">Huang's Computational Systems Biology Lab</a></h6>  
        </div>
    </div>

    <div class="div_contact_row">
        <div class="div_contact">
            <h4>Chia-Lang Hsu, Ph.D.</h4>
            <h6><a href="#" target="_blank"></a>Department of Medical Research</h6>
            <h6><a href="https://www.ntuh.gov.tw/ntuh/Index.action" target="_blank">National Taiwan University Hospital</a>, No.7, Zhongshan S. Rd., Zhongzheng Dist., Taipei City 100, Taiwan</h6>
            <h6><a href="mailto:chialanghsu@ntuh.gov.tw">chialanghsu@ntuh.gov.tw</a></h6>
            <h6><a href="https://sites.google.com/view/chialanghsu/members/chia-lang-hsu" target="_blank">Hsu Lab</a></h6>  
        </div>
        
        <div class="div_contact">
            <h4>Kai-Pu Chen, Ph.D. Candidate</h4>
            <h6><a href="https://www.bebi.ntu.edu.tw/?page_id=79&lang=en" target="_blank">Graduate Institute of Biomedical Electronics and Bioinformatics</a></h6>
            <h6><a href="mailto:d04945020@ntu.edu.tw">d04945020@ntu.edu.tw</a></h6>
        </div>
    </div>
</div>








{% endblock %}