{% load static %}

<h4>Boxplot of the bacteria diversity of samples detected in cancer.</h4>
<div class="callout callout-danger" id="div_analyses_diversity_plot">
</div>

<h4>Table of the bacteria diversity of samples detected in cancer.</h4>
<div class="callout callout-info" id="div_analyses_diversity_table">
    <table class="table table-condensed table-hover table-bordered" id="analyses_diversity_table" width="100%">
        <thead>
            <tr>
                <th>Cancer type</th>
                <th>Taxonomy level</th>
                <th>Mean diversity index</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    
</div>

